.channel-preview {
  height: 37px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $sidebarHover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }

  &__selected {
    height: auto;
    display: flex;
    align-items: center;
    background-color: $main;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    z-index: 2;
  }

  &__item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: $font-main;
    font-size: 14px;
    color: $fontOne;
    padding: 0px 20px;
    text-overflow: ellipsis;
    word-break: break-all;

    &.single {
    }
  }
}
